<div class="search-form mt-4">
  <form method="post">
    <div class="mb-3">
      <label for="search" class="form-label">Nhập từ khóa</label>
      <input type="text" class="form-control" id="search" name="keyword">
    </div>
    <div class="mb-3">
      <label for="search" class="form-label">Lọc</label>
      <select  class="form-control">
        <option value="">--Sắp xếp theo--</option>
        <option value="v1">Ngày</option>
        <option value="v2">Tháng</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
  </form>
</div>